@media(max-width:1125px) {
	img{
		height: auto;
	}
    .container {
        max-width: calc(100% - 80px);
    }
    .logo {
        width: 15%;
    }
    .menu {
        width: calc(85% - 4px);
    }
    .main_block_steep_txt {
        width: calc(100% - 80px);
    }
    .main_block_slide_text {
        width: 100%;
    }
    .main_block_slide_text h1 {
        margin: 0;
    }
    .main_block_slide_text ul {
        margin-top: 25px;
    }
    .main_block_slide_text ul li {
        margin-bottom: 10px;
    }
    .btn_slider {
        padding-bottom: 0;
        margin-top: -70px;
    }
    .btn_slider .btn span {
        margin: 10px 5px 15px 5px;
    }
    .thumbnai_teeth {
        top: 0px;
        right: 0px;
        height: 98%;
    }
    .main_block_results_detail p {
        margin: 35px 0px;
    }
    .main_block_results_detail h2 {
        margin-bottom: 0;
    }
    .main_block_results_img .thumbnai img {
        display: block;
    }
    .main_block_results {
        padding: 75px 0px;
    }
    .main_block_impression_text p {
        padding: 0;
    }
    .main_block_impression_text {
        padding: 75px 0;
    }
    .main_block_smile {
        padding: 75px 0px;
    }
    .main_block_smile_address {
        padding-top: 0;
    }
    .address_info h4 {
        margin-top: 0;
    }
    .main_block_profile_info input {
        width: calc(100%/2 - 57px);
    }
    .main_block_profile_info input:nth-child(2n) {
        margin-right: 0px;
    }
    .main_block_profile_info input:nth-child(2n+1) {
        margin-right: 25px;
    }
    .footer_top {
        padding: 65px 0;
    }
    .footer_bottom_right ul li a {
        padding: 10px;
    }
    span.round{
    	margin-right: 430px;
    }
    span.round:after{
    	width: 472px;
    }
    .main_block_content_comment_form{
    	width: 88%;
    }
    .block_pink{
    	padding-left: 50px !important;
    }
    .main_block_content_comment_element{
    	padding: 40px 0;
    }
    .wrap-comment_element{
    	padding-bottom: 218px;
    }
    .main_block_content_comment_form{
    	padding: 30px 10px 10px 25px;
    }
    .wrap-thumbnail {
        padding: 50px 30px 74px 30px;
    }
    .main_block_profile{
		padding: 75px 0px;
	}
}
@media(max-width:1024px){
	span.round{
	    margin-right: 370px;
	}
	span.round:after {
	    width: 412px;
	}
	.main_block_content_comment_form {
	    width: 86%;
	}
	.main_block_content_comment_form_button button{
		padding: 9px 24px;
	}
	.main_block_content_comment_form_button ul li a {
	    padding: 10px 15px;
	}
	.main_block_content_comment_element_text {
	    width: calc(82% - 17px);
	    margin-left: 17px;
	}
	.main_block_content_comment_element_icon img {
	    width: 40%;
	}
	.main_block_content_comment_element_text p {
	    font-size: 14px;
	    line-height: 18px;
	}
}
@media(max-width:991px){
	.menu_text {
	    width: calc(55% - 4px);
	}
	.menu_button {
	    width: 45%;
	}
	.menu_button button{
		padding: 15px;
	}
	.main_block_aligners_text {
   		padding: 80px 0px;
   	}
   	.main_block_steep,
   	.main_block_person {
	    padding: 75px 0px;
	}
	.icon_teeth {
	    width: calc(100%/3 - 3px);
	}
	h2{
		font-size: 35px;	
	}
	.main_block_content {
	    margin-right: 0;
	    width: 100%;
	}
	.main_block_content_comment_element{
		width: 100%;
	}
	.main_block_content_comment_element_text p {
	    font-size: 18px;
	    line-height: 20px;
	    max-width: 600px;
	}
	.main_block_content_comment_element {
	    padding: 50px 0;
	}
	.main_block_content_comment_element_text {
	    width: calc(82%);
	    margin-left: 0; 
	}
	.main_block_content_comment_element_icon img {
	    width: 23%;
	}
	.main_block_thumbnail {
	    width: 100%;
	}
	.main_block_thumbnail_img,.main_block_thumbnail_text{
		width: calc(50% - 2px);
		display: inline-block;
	}
	.main_block_thumbnail_img_icon_element img {
	    width: 100%;
	}
	.main_block_thumbnail_text {
	    margin-top: 0;
	    vertical-align: top;
	    text-align: center;
	}
	.wrap-thumbnail {
	    padding: 30px 30px 0 30px;
	}
	.main_block_thumbnail_title h4 {
	    margin-top: 38px; 
	}
	span.round {
	    margin-right: 330px;
	}
	span.round:after {
	    width: 372px;
	}
	.main_block_content_comment_form {
	    width: 91%;
	}
	.main_block_content_comment_form_button ul li a {
	    padding: 17px 20px;
	}
	.main_block_content_comment_form_button button {
	    padding: 16px 35px;
	}
}
@media(max-width:768px){
	.logo {
	    width: 50%;
	}
	.top_header .menu{
		display: none;
	}
	.wrapper {
		display: block;
	}
	.collapse_responsive{
		display: inline-block;
		padding-left: 20px;
	}
	.collapse_responsive .menu_text{
		display: block;
		width: 100%;
		padding-bottom: 10px
	}
	.collapse_responsive .menu_button {
	    width: 100%;
	    display: block;
	}
	.menu_button button{
		display: block;
	}
	.menu_button button:nth-child(1){
		margin-right: 0;
		margin-bottom: 15px;
	}
	.menu_button button:last-child{
		padding-right: 18px;
	}
	.menu_text ul li a{
		padding: 0;
		margin-bottom: 10px;
		display: block;
	}
	.menu_text ul li{
		display: block;
		margin-bottom: 15px;
	}
	.menu_text ul li:after {
	    margin:0;
	    margin-bottom: -15px;
	}
	.menu_text ul li.current-menu-item:after,
	.menu_text ul li.active:after {
	    margin-left: 20px;
	}
	.main_block_steep_item{
		width: 100%;
		text-align: left;
	}
	.main_block_steep_item .thumbnai{
		display: inline-block;
		vertical-align: middle;
		width: 264px;
		margin: 0px 0px 20px 0px;
	}
	.main_block_steep_txt{
		display: inline-block;
	    width: calc(100% - 290px);
	    vertical-align: middle;
	}
	span.round {
	    margin-right: 246px;
	}
	span.round:after {
	    width: 288px;
	}
	.main_block_content_comment_element_icon{
		width: 70px;
	    height: 70px;
	    border-radius: 50%;
	    background: #fff;
	    margin: 0 23px;
	}
	.main_block_content_comment_element_icon img {
	    width: 90%;
	}
	.main_block_content_comment_element_icon span {
	    font-size: 20px;
	    color: #9d6626;
	    display: block;
	    text-align: center;
	    margin-top: 23px;
	    background: none;
	    padding: 0;
	    margin-left: 0;
	    border-radius: 0;
	}
	.main_block_content_comment_element_text {
	    width: calc(80%);
	    margin-left: -10px;
	}
	.main_block_content_comment_element_text p {
	    font-size: 16px;
	    line-height: 20px;
	    max-width: 460px;
	    padding-left: 0;
	}
	.main_block_content_comment_form {
	    width: 88%;
	}
	.block_member_text {
	    width: calc(70%);
	}
	.block_member_icon {
	    width: calc(23%);
	}
	.block_member_text p {
	    width: 100%;
	}
	.main_block_steep_section{
		width: 50%;
	}
	.main_block_filds_title {
	    margin-bottom: 50px;
	}
	.main_block_filds_info_item button{
		margin-bottom: 0;
	}
	.main_block_filds_info_item{
		margin-bottom: 10px;
	}
	.styled_select {
	    padding-bottom: 20px;
	}
	.main_block_filds {
	    padding: 75px 0px;
	}
	.layer_item {
	    width: calc(100%/2 - 20px);
	    margin-right: 40px;
	    margin-bottom: 40px;
	}
	.layer_item:nth-child(2n) {
	    margin-right: 0px;
	}
	.layer_item:nth-child(2n+1) {
	    margin-right: 40px;
	}
	.main_block_results_detail, .main_block_results_img{
		width: 100%;
	}
	.main_block_banner_text{
		max-width: 100%;
	}
	.main_block_banner_text h2 {
	    margin-bottom: 0px;
	}
	.main_block_banner_text p {
	    margin-bottom: 30px;
	}
	.main_block_banner_text span {
	    padding: 15px 20px;
	}
	.main_block_aligners_text h2{
		margin-bottom: 25px;
	}
	.main_block_slide_text ul li {
	    margin-bottom: 5px;
	}
	.main_block_slide_text li a{
		font-size: 17px;
	}
	.footer_top_block{
		width: calc(100%/2 - 3px); 
	}
	.footer_top_block.responsive{
		padding-left: 75px;
		width: calc(50% - 76px);
	}
	.footer_top_block_title {
	    margin-bottom: 35px;
	    margin-top: 20px;
	}
}
@media(max-width:667px){
	.main_block_banner_text{
		display: none;
	}
	.main_block_banner:hover .main_block_banner_text{
		display: block;
	}
	.main_block_banner_text p{
		font-size: 15px;
	}
	h2 {
	    font-size: 30px;
	}
	.main_block_aligners_text p {
	    font-size: 15px;
	    line-height: 20px;
	    margin-bottom: 25px;
	}
	.main_block_steep, .main_block_person {
	    padding: 15px 0px;
	}
	.main_block_steep_section{
		width: 100%;
	}
	.main_block_steep_section .thumbnai {
	    margin: 20px 0px;
	}
	.main_block_steep_section h4 {
    	margin-bottom: 0px;
    }
    .main_block_steep_section p {
	    padding: 0;
	    text-align: center;
	}
	.main_block_aligners_text {
	    padding: 30px 0px;
	}
	.main_block_aligners_text span{
		padding: 15px 25px;
	}
	.main_block_filds {
	    padding: 15px 0px;
	}
	.main_block_filds_title {
	    margin-bottom: 25px;
	}
	.main_block_filds_info_item button,
	.styled_select select{
		font-size: 15px;
		padding: 10px 15px;
	}
	.main_block_filds_info_item p{
		font-size: 18px;
	}
	.main_block_filds_title p{
		font-size: 15px;
	}
	.icon_teeth {
	    width: calc(100%/2 - 3px);
	}
	.main_block_filds_info_item input{
		font-size: 15px;
		padding: 10px 15px;
	}
	.main_block_filds_info_item input::placeholder{
		font-size: 15px;
	}
	.main_block_impression_text{
		padding: 15px 0px;
	}
	.main_block_impression_text h2{
		margin-bottom: 0;
	}
	.main_block_impression_text p{
		font-size: 15px;
		line-height: 20px;
	}
	.main_block_impression_text h4{
		font-size: 18px;
	}
	.main_block_results {
	    padding: 15px 0px;
	}
	.main_block_results_titile p{
		font-size: 15px;
		margin: 0;
		line-height: 20px;	
	}
	.main_block_results_titile h2 {
	    margin-bottom: 20px;
	}
	.main_block_results_layer {
	    margin-top: 35px;
	}
	.main_block_text p{
		margin-bottom: 30px;
		padding: 0;
		font-size: 15px;
	}
	.main_block_text h2{
		margin-bottom: 0;
	}
	.main_block_results_detail span{
		padding: 10px 15px;
	}
	.main_block_results_detail p{
		line-height: 20px;
	}
	.main_block_profile_info input {
	    width: calc(100% - 23px);
	    padding: 10px;
	    font-size: 15px;
	}
	.main_block_profile_info input::placeholder {
		font-size: 15px;
	}
	.main_block_profile_info input:nth-child(n){
		margin-right: 0;
	}
	.main_block_profile{
		padding: 25px 0px;
	}
	.main_block_profile .main_block_smile_txt{
		margin-bottom: 40px;
	}
	.main_block_profile_info h4{
		margin-bottom: 30px;
	}
	.content-check label{
		margin-left: 55px;
	}
	.main_block_profile_bnt {
	    margin-top: 45px;
	}
	.main_block_slide_text ul {
	    margin-top: 20px;
	}
	.main_block_slide_text p {
	    font-size: 15px;
	}
	.main_block_slide_text h1 {
	    font-size: 35px;
	}
	.btn_slider {
	    margin-top: -40px;
	}
	.main_block_slide_text{
		display: none;
	}
	.main_block_banner:hover .main_block_slide_text{
		display: block;
	}
	span.round {
	    margin-right: 190px;
	}
	span.round:after {
	    width: 232px;
	}
	.main_block_content_comment_element {
	    padding: 25px 0;
	}
	.main_block_content_comment_element_icon{
		margin: 0 15px;
	}
	.block_pink{
		padding-left: 0 !important;
	}
	.block_pink .main_block_content_comment_element_icon{
		margin-left: 50px;
	}
	.block_pink .main_block_content_comment_element_text{
		width: calc(80% - 50px);
	}
	.main_block_content_comment_form{
		width: 86%;
		padding: 0px 10px 10px 25px;
	}
	.page_howitwork_text_nav span{
		font-size: 15px;
	}
	.page_howitwork_text_button button {
	    padding: 15px 25px;
	}
	.wrap-block_letstart{
	    padding: 50px 0;
	}
	.block_member_text {
	    width: calc(70% - 5px);
	}
	.footer_top_block_text p {
    	width: 100%;
    }
}
@media(max-width:640px){
	.block_member_text {
	    width: calc(70% - 6px);
	}
	span.select-button{
	    padding: 10px 15px;
	}
	.select_member li{
		padding: 10px 15px;
	}
	.block_chooseMember_content_form.vcenter.open .dropdown-select {
	    width: 252px;
	}
}
@media(max-width:600px){
	.main_block_banner:hover .main_block_slide_text{
		display: none;
	}
	.main_block_aligners_text p{
		text-align: left;
	}
	.main_block_text p{
		text-align: left;
	}
	.block_member_text {
	    width: calc(70% - 10px);
	}
	.mainblock_yourstaty small{
	    width: 134px;
	}
	.mainblock_yourstaty small.first{
		margin-left: 10px;
	}
	.main_block_content_comment_element_text {
	    width: 79%;
	}
	.wrap-comment_element.scrollable .scroll-bar.vertical{
		right: 15px;
	}
	.wrap-comment_element{
		padding-right: 40px;
	}
	.main_block_content_comment_form_button {
	    margin: 20px 0 0 0;
	}
	.main_block_content_comment_element {
	    padding: 19px 0;
	}
	.main_block_thumbnail_img, .main_block_thumbnail_text {
    	width: 100%;
	}
	.main_block_thumbnail_text{
		text-align: left;
	}	
	.block_chooseMember_content_form {
	    margin-right: 15px;
	}	
	.block_chooseMember_content_text span{
		padding-right: 0;
	}
}
@media(max-width:568px){
	.main_block_banner_text span {
	    padding: 10px 15px;
	    font-size: 15px;
	}
	.content-check label{
		font-size: 15px;
	}
	.message{
		height: 100px;
	}
	.main_block_profile_bnt button{
		padding: 15px;
	}
	.main_block_smile {
	    padding: 30px 0px;
	}
	.main_block_content_comment_element_text {
	    width: 78%;
	}
	span.round:after {
	    width: 197px;
	}
	span.round {
	    margin-right: 155px;
	}
	.block_member_text {
	    width: calc(70% - 11px);
	}
	span.select-button{
		width: 160px;
		font-size: 17px;
	}
	.block_chooseMember_content_text{
	    margin-top: 12px;
	}
	ul.select_member li {
		width: 135px;
    }
    .block_chooseMember_content_form.vcenter.open .dropdown-select{
    	width: 191px;
    }
    .dropdown-select .scroll-bar{
    	right: 10px!important;
    }
    .select_member li{
    	font-size: 17px;
    }
    .dropdown-select .viewport{
    	height: 150px;
    }
    .footer_bottom_right ul li a{
    	padding: 5px;
    }
}
@media(max-width:480px){
	.container {
	    max-width: calc(100% - 30px);
	}
	.main_block_steep_item {
	    text-align: center;
	}
	.main_block_steep_txt{
		width: 100%;
	}
	.main_block_steep_txt>div {
	    font-size: 90px;
	    text-align: center;
	}
	.main_block_steep_txt>div>p{
		font-size: 17px;
	    padding-left: 15px;
	}
	.main_block_steep_txt>div>p>span{
	    line-height: 20px;
	}
	.layer_item{
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.layer_item:nth-child(2n+1){
		margin-right: 0;
	}
	.thumbnai_teeth {
	    width: calc(50% - 21px);
	    top: -1px;
	    right: 21px;
	    height: calc(100% - 3px);
	}
	.main_block_banner:hover .main_block_banner_text{
		display: none;
	}
	span.round {
	    width: 30px;
	    height: 30px;
	}
	span.round:before {
	    width: 44px;
	    height: 44px;
	    top: -8px;
	    left: -8px;
	}
	.mainblock_yourstaty small{
		font-size: 13px;
	    width: 112px;
	    left: -45px;
	}
	span.round {
	    margin-right: 145px;
	}
	span.select-button {
	    width: 150px;
	    font-size: 15px;
	    padding: 10px
	}
	.block_chooseMember_content_form {
	    margin-right: 10px;
	}
	ul.select_member li {
	    width: 135px;
	}
	.block_chooseMember_content_form.vcenter.open .dropdown-select {
	    width: 171px;
	}
	ul.select_member .notify:after{
		width: 10px;
		height: 10px;
	}
	.dropdown-select .scroll-bar {
	    right: 4px!important;
	}
	.select_member li{
		padding: 10px;
		font-size: 15px;
	}
	.main_block_content_comment_element_icon {
	    margin: 0 5px;
	}
	.main_block_content_comment_element_text {
	    width: 77%;
	    margin-left: 5px;
	}
	.block_pink .main_block_content_comment_element_icon {
	    margin-left: 30px;
	}
	.main_block_content_comment_element {
	    padding: 10px 0;
	}
	.block_member_text h2 {
	    font-size: 30px;
	    margin-bottom: 0;
	}
	.block_member_text {
	    width: calc(70% - 15px);
	}
	.block_member_text p {
	    line-height: 20px;
	    font-size: 15px;
	}
	.main_block_content_comment_form {
	    padding: 0px 10px 10px 15px;
	}
	.block_getEvaluated h3 {
	    font-size: 30px;
	}
	.page_howitwork_thumbnail {
	    width: 100%;
	}
	.page_howitwork_text {
	    width: 100%;
	    padding: 0;
	}
	.page_howitwork_text_title h5{
		padding-left: 30px;
	}
	.page_howitwork_text_nav li span {
	    padding-left: 0;
	}
	.block_letstart button {
	    padding: 10px 15px;
	}
	.footer_top_block{
		width: 100%;
	}
	.footer_top_block.responsive {
	    padding-left: 0;
	    width: 100%;
	}
	.footer_top_block_title {
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
	.footer_top {
	    padding: 20px 0;
	}
	.footer_bottom_left,
    .footer_bottom_right {
	    width: 100%;
	    text-align: center;
	}
	.footer_bottom_right{
		margin-bottom: 10px;
	}
}
@media(max-width:414px){
	.icon_teeth {
	    width: 100%;
	}
	.thumbnai_teeth {
	    width: calc(50% - 14px);
	    right: 12px;
	}
	.main_block_smile_txt>div{
		font-size: 80px;
	}
	.main_block_smile_txt>div>p>span {
	    line-height: 25px;
	}
	.address_info {
	    padding: 20px 0px;
	}
	.address_info h4{
		margin-bottom: 25px;
	}
	.address_info p{
		margin: 10px 0px;
	}
	.block_member_text {
	    width: calc(70% - 20px);
	}
	span.round {
	    margin-right: 112px;
	}
	span.round:after {
	    width: 147px;
	}
	.mainblock_yourstaty h3 {
	    margin-bottom: 90px;
	}
	.main_block_content_comment_element_icon {
	    width: 50px;
	    height: 50px;
	}
	.main_block_content_comment_element_icon span{
		margin-top: 12px;
	}
	.wrap-comment_element {
	    padding-right: 25px;
	}
	.wrap-comment_element.scrollable .scroll-bar.vertical {
	    right: 5px;
	}
	.block_pink .main_block_content_comment_element_icon {
	    margin-left: 5px;
	}
	.block_pink .main_block_content_comment_element_text {
	    width: calc(80% - 5px);
	}
	.main_block_content_comment_form_button {
	    text-align: left;
	}
	.main_block_content_comment_form_button ul{
		padding: 0;
	}
	.close{
		display: none;
	}
}
@media(max-width:384px){
	.thumbnai_teeth {
	    width: 50%;
	    right: 0px;
	}
	.main_block_results_detail h2{
		font-size: 27px;
	}
	.main_block_results_detail p{
		font-size: 15px;
		margin: 10px 0px;
	}
	.main_block_results_detail span {
	    padding: 10px;
	}
	.main_block {
	    text-align: center;
	}
	.main_block .page_howitwork_text_nav{
		text-align: left;
	}
	.block_member_text {
	    width: 100%;
	    padding: 0;
	}
	.block_member_text p {
	    text-align: left;
	}
	span.round {
	    width: 25px;
	    height: 25px;
	}
	span.round:before {
	    width: 32px;
	    height: 32px;
	    top: -4px;
	    left: -4px;
	}
	span.round:after{
		height: 7px;
		width: 133px;
	}
	.mainblock_yourstaty small {
	    width: 108px;
	}
	span.round {
	    margin-right: 104px;
	}
	.main_block_content,
	.main_block_thumbnail{
		text-align: left;
	}
	.block_pink .main_block_content_comment_element_text {
	    width: calc(80% - 8px);
	}
	.block_chooseMember{
		text-align: left;
	}
}
@media(max-width:375px){
	.mainblock_yourstaty small {
	    font-size: 12px;
	}
	.mainblock_yourstaty small {
	    width: 102px;
	}
}
@media(max-width:320px){
	.container {
	    max-width: calc(100% - 10px);
	}
	span.round {
	    margin-right: 85px;
	}
	span.round:after {
	    width: 115px;
	}
	.main_block_content_comment_form {
	    padding: 0px 10px 10px 8px;
	}
	.main_block_content_comment_form_button ul li a {
	    padding: 10px;
	}
	.main_block_content_comment_form_button button {
	    padding: 10px 25px;
	}
	.wrap-comment_element.scrollable .scroll-bar.vertical{
		width: 5px;
	}.main_block_steep_txt>div>p {
	    padding-left: 0px;
	}
}