@font-face{
    font-family: "Muli-Bold_E";
    src: url("../fonts/Muli-Bold_E.ttf");
}
@font-face{
    font-family: "Muli-Black_E";
    src: url("../fonts/Muli-Black_E.ttf");
}
@font-face{
    font-family: "Muli-SemiBold_E";
    src: url("../fonts/Muli-SemiBold_E.ttf");
}
@font-face{
    font-family: "Muli-Regular_E";
    src: url("../fonts/Muli-Regular_E.ttf");
}
@font-face{
    font-family: "Muli-ExtraBold_E";
    src: url("../fonts/Muli-ExtraBold_E.ttf");
}
body {
    margin: 0px;
}
img {
    max-width: 100%;
    height: auto;
}
/*h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}*/
h2{
	font-family: 'Muli-Black_E';
	font-size: 40px;
	color: #9f6628;
	margin-bottom: 50px;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}
.orange{
	background-color: #fffaf5;
}
.vcenter{
	vertical-align: middle;
	display: inline-block;
	float: none;
}
.overlay{
	width: 0;
	height: 100%;
}
/* header */

.top_header{
	padding: 20px 0;
	border-bottom: 1px solid #ebebeb;
}
.logo{
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}
.menu{
	display: inline-block;
	width: calc(70% - 4px);
	text-align: right;
	vertical-align: middle
}
.menu_text{
	display: inline-block;
	width: calc(43% - 4px);
}
.menu_button{
	width: 53%;
	display: inline-block;
}
.menu_text ul li{
	display: inline-block;
}
.menu_text ul{
	padding: 0;
	margin: 0;
}
.menu_text ul li a{
	padding: 15px;
	color: #000;
	text-decoration: none;
	font-family: "Muli-Bold_E";
	font-size: 16px;
}
.menu_text ul li:after{
	content: "";
	width: 5px;
	height: 5px;
	background: #9f6628;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 8px;
}
.menu_text ul li.active:after,
.menu_text ul li.current-menu-item:after{
	display: block;
}
.menu_text ul li.active a,
.menu_text ul li.current-menu-item a{
	color: #9f6628;
}
.menu_button button {
    padding: 15px 35px;
    border: 1px solid #9f6628;
    background: #fff;
    color: #9f6628;
    font-family: "Muli-Bold_E";
    font-size: 18px;
}
.menu_button button:hover{
	background: #9f6628;
	color: #fff;
}
.menu_button button.active{
	background: #9f6628;
	color: #fff;
}
.menu_button button:nth-child(1){
	margin-right: 30px;
}
/* header */
.thumbnai_banner img{
	display: block;
}
.main_block_aligners{
	background: url('../images/aligners.jpg') center no-repeat;
	background-size: cover;
}
.main_block_slide_text{
	color: #fff;
	width: calc(100%/3 - 5px);
	display: inline-block;
}
.main_block_slide_text li a{
	color: #e5e3e1;
	text-decoration: none;
	font-family: 'Muli-SemiBold_E';
	font-size: 20px;
}
.main_block_slide_text ul{
	padding-left: 15px;
	margin: 0px;
	margin-top: 50px;
}
.main_block_slide_text ul li{
	margin-bottom: 20px;
	padding-left: 15px;
}
.main_block_slide_text h1{
	font-family: 'Muli-Black_E';
	font-size: 40px;
}
.main_block_slide_text p{
	font-family: 'Muli-Bold_E';
	font-size: 18px;
}
.btn_slider{
	padding-bottom: 50px;
	text-align: center;
    margin-top: -110px;
    position: relative;
    z-index: 444
}
.btn_slider .btn span{
	width: 5px;
	height: 5px;
	background: #fff;
	border-radius: 50%;
	display: inline-block;
	margin: 10px 10px 35px 10px;
}
.btn_slider .btn{
	border: 1px solid #fff;
	display: inline-block;
	border-radius: 20px;
}
.main_block_aligners_text{
	padding: 155px 0px;
	max-width: 775px;
	margin: 0 auto;
	text-align: center;
}
.main_block_aligners_text p{
	font-family: 'Muli-SemiBold_E';
	font-size: 17px;
	color: #9f6628;
	line-height: 25px;
	margin-bottom: 50px;
}
.main_block_aligners_text span{
	color: #fff;
	background-color: #9f6628;
	font-family: 'Muli-Bold_E';
	font-size: 18px;
	padding: 15px 45px;
	display: inline-block;
}
.main_block_steep{
	padding: 135px 0px;
	text-align: center;
}
.main_block_steep:after{
	content: '';
	display: block;
	clear: both;
}
.main_block_steep_item{
	width: calc(100%/3);
	float: left;
}
.main_block_steep_item .thumbnai{
	margin: 50px 0px;
}
.main_block_steep_txt {
    width: 270px;
    margin: 0 auto;
}
.main_block_steep_txt>div{
    position: relative;
    font-size: 115px;
    color: #f6f2ef;
    text-align: left;
    font-weight: bold;
    line-height: 1;
    font-family: "Muli-Black_E";
}
.main_block_steep_txt>div>p {
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #9f6628;
    font-family: "Muli-Bold_E";
    padding-left: 40px;
    margin: 0;
}
.main_block_steep_txt>div>p:after{
	content: "";
	width: 0;
	height: 100%;
}
.main_block_steep_txt>div>p>span,.main_block_steep_txt>div>p:after{
	display: inline-block;
	vertical-align: middle;
	line-height: 33px;
}
.main_block_text h2{
	text-align: center;
}
.main_block_person{
	padding: 115px 0px;
}
.main_block_text p{
	font-family: "Muli-Regular_E";
	font-size: 17px;
	color: #9f6628;
	text-align: center;
	padding: 0px 20px;
	margin-bottom: 75px;
}
.main_block_img_slide .thumbnai img{
	width: 100%;
}
.main_block_img_slide .thumbnai.slick-slide {
    margin: 44px 0px 25px 0px;
}
.thumbnai.slick-slide.slick-current.slick-active.slick-center img {
    width: 95%;
    margin: 0 auto;
    box-shadow: 0px 0px #ccc;
}
.thumbnai.slick-slide.slick-current.slick-active.slick-center {
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    color: #e67e22;
    opacity: 1;
    transform: scale(1.3);
    transition: all 0.5s;
    outline: none;
}
.thumbnai_map iframe{
	display: block;
}
/* css Aligners */
.main_block_banner{
	position: relative;
}
.main_block_banner .thumb img{
	display: block;
}
.block_text{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.block_text .container{
	width: 100%;
	text-align: left;
}
.main_block_banner_text{
	color: #fff;
	max-width: 465px;
	display: inline-block;
}
.main_block_banner_text h2{
	color: #fff;
	margin-bottom: 45px;
}
.main_block_banner_text p{
	font-family: 'Muli-Regular_E';
	font-size: 18px;
	margin-bottom: 60px;
}
.main_block_banner_text span{
	color: #fff;
	border: 1px solid #fff;
	font-family: 'Muli-Bold_E';
	font-size: 18px;
	padding: 15px 45px;
	display: inline-block;
}
.main_block_steep_section{
	width: 25%;
	float: left;	
}
.main_block_steep_section .thumbnai{
	margin: 40px 0px;
}
.main_block_steep_section h4{
	margin-bottom: 35px;
	font-family: 'Muli-Black_E';
	font-size: 20px;
	color: #9f6628;
}
.main_block_steep_section p{
	font-family: 'Muli-Regular_E';
	font-size: 15px;
	color: #9f6628;
	padding: 0 10px;
}
/* end css Aligners */
/* css impression */

.main_block_banner_impression .main_block_banner_text{
	padding: 310px 0px;
}
.main_block_banner_impression p{
	font-size: 20px;
	opacity: 0.9;
}
.main_block_impression_text{
	padding: 115px 0px 75px 0px;
	text-align: left;
}
.main_block_impression_text p{
	padding: 10px 0 20px 0;
	font-family: 'Muli-SemiBold_E';
	font-size: 17px;
	color: #9f6628;
	line-height: 30px;
}
.main_block_impression_text h4{
	margin-top: 25px;
	font-family: 'Muli-Black_E';
	font-size: 20px;
	color: #9f6628;
}

/* end css impression */
/* css evaluted */

.main_block_banner_evaluted p{
	font-size: 20px;
	margin-bottom: 0;
}
.main_block_filds{
	padding: 115px 0px;
}
.main_block_filds_title {
	text-align: center;
	margin-bottom: 80px;
}
.main_block_filds_title h2 {
	margin-bottom: 20px;
}
.main_block_filds_title p{
	font-family: 'Muli-SemiBold_E';
	font-size: 17px;
	color: #9f6628;
}
.main_block_filds_info_item{
	margin-bottom: 45px;
}
.main_block_filds_info_item p{
	font-family: 'Muli-Bold_E';
	font-size: 20px;
	color: #9f6628;
	margin-bottom: 25px;
}
.main_block_filds_info_item button{
	padding: 15px 25px;
	border: 1px solid #9f6628;
	text-transform: uppercase;
	font-family: 'Muli-Bold_E';
	font-size: 20px;
	color: #9f6628;
	display: inline-block;
	margin-bottom: 45px;
	background: none;
	cursor: pointer;
}
.main_block_filds_info_item button:last-child{
	margin-left: -5px;
}
.main_block_filds_info_item button.active{
	background-color: #9f6628;
	color: #fff;
}
.styled_select select{
	width: 270px;
	padding: 15px 25px;
	font-family: 'Muli-Regular_E';
	font-size: 20px;
	color: #9f6628;
	border-color: #9f6628;
	cursor: pointer;
	-webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: url('../images/select.png') calc(100% - 20px) center no-repeat;
}
.styled_select{
	padding-bottom: 40px;
}
.icon_teeth{
	width: calc(100%/4);
	display: inline-block;
	padding: 30px 0px;
	text-align: center;
}
.icon_teeth.active ,
.icon_teeth:hover{
	box-shadow: 0px 1px 10px 0px #ccc;
}
.icon_teeth.active .check{
	display: block;
}
.icon_teeth{
	position: relative;
}
.icon_teeth i.check{
	background: url('../images/icon-check.png') center no-repeat;
	height: 39px;
	width: 39px;
}
.icon_teeth .check{
	position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    top: 50%;
    left: 50%;
    display: none;
}
.main_block_filds_info_item input{
	color: #9f6628;
	border-color: #9f6628;
	outline: none;
	border-width: 1px;
	padding: 20px;
	width: 240px;
}
.main_block_filds_info_item input::placeholder{
	color: #9f6628;
	font-family: 'Muli-Regular_E';
	font-size: 20px;
	text-transform: uppercase;
}
.main_block_bnt {
	text-align: center;
	padding-top: 25px;
	margin-bottom: 15px;
}
.main_block_bnt button{
	padding: 15px 40px;
	border: none;
	background-color:#9f6628;
	color: #fff;
	font-family: 'Muli-Bold_E';
	font-size: 18px;
	cursor: pointer; 
}
/* end css evaluted */
/* css results */

.main_block_results{
	padding: 125px 0px;
	text-align: center;
}
.main_block_results_titile h2{
	margin-bottom: 30px;
}
.main_block_results_titile p{
	font-family: 'Muli-Regular_E';
	font-size: 17px;
	color: #9f6628;
	margin: 0px 100px;
	line-height: 25px
}
.main_block_results_detail p{
	font-family: 'Muli-Regular_E';
	font-size: 17px;
	color: #9f6628;
	margin: 80px 0px;
	line-height: 25px;
}
.main_block_results_detail span{
	color: #fff;
    background-color: #9f6628;
    font-family: 'Muli-Bold_E';
    font-size: 18px;
    padding: 15px 45px;
    display: inline-block;
}
.container:after{
	content: '';
	display: block;
	clear: both;
}
.main_block_results_txt{
	position: relative;
}
.main_block_results_txt .container-thumb {
    text-align: right;
}
.main_block_results__container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
}
.main_block_results__container .container{
	text-align: left;
}
.main_block_results_detail h2{
	margin-top:0;
}
.main_block_results_img .thumbnai img{
	display: block;
}
.main_block_results_detail,
.main_block_results_img{
	width: calc(100%/2 - 2px);
}
.main_block_results_layer:after{
	content: '';
	display: block;
	clear: both;
}
.main_block_results_layer{
	margin-top: 85px;
}
.layer_item{
	width: calc(100%/3 - 37px);
	float: left;
	margin-right: 55px;
	margin-bottom: 60px;
}
.layer_item:nth-child(3n){
	margin-right: 0;
}
.main_block_results_layer .thumbnai-img {
    position: relative;
}
.thumbnai_teeth{
	background: url('../images/layer-teeth2.png') 100% center no-repeat;
	width: 50%;
    position: absolute;
    top: -3px;
    right: 4px;
    height: 100%;
    border-left: 3px solid #fff;
}
/* end css results */
/* css smile and more */

.main_block_smile{
	padding: 115px 0px;
}
.main_block_smile_txt{
	text-align: center;	
	margin-bottom: 90px;
}
.main_block_smile_txt>div {
    position: relative;
    font-size: 115px;
    color: #eee2d7;
    font-weight: bold;
    line-height: 1;
    font-family: "Muli-Black_E";
}
.main_block_smile_txt>div>p {
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #9f6628;
    font-family: "Muli-SemiBold_E";
    margin: 0;
}
.main_block_smile_txt>div>p>span.title{
	font-family: 'Muli-ExtraBold_E';
}
.main_block_smile_txt>div>p:after {
    content: "";
    width: 0;
    height: 100%;
}
.main_block_smile_txt>div>p>span {
    display: block;
    vertical-align: middle;
    line-height: 33px;
}
.main_block_smile_txt>div>p:after{
	display: inline-block;
    vertical-align: middle;
    line-height: 33px;
}
.main_block_smile_address{
	text-align: center;
	padding-top: 45px;
	color: #9f6628;
}
.address_info{
	padding: 35px 0px;
	max-width: 570px;
	margin: 0 auto;
	box-shadow: 0px 0px 10px 0px #ccc;
}
.address_info h4{
	font-family: 'Muli-ExtraBold_E';
	font-size: 22px;
}
.address_info p{
	font-family: 'Muli-SemiBold_E';
	font-size: 17px;
}
.main_block_profile{
	padding: 120px 0px;
}
.main_block_profile_info h4{
	font-family: 'Muli-ExtraBold_E';
	font-size: 22px;
	color: #9f6628;
	text-align: center;
	margin-bottom: 45px;
}
.main_block_profile_info input{
	width: calc(100%/3 - 64px);
	margin-right: 25px;
	padding: 20px;
	margin-bottom: 20px;
	outline: none;
	border: 1px solid #9f6628;
	font-family: 'Muli-Regular_E';
	font-size: 18px;
	color: #9f6628;
	text-transform: capitalize;
}
.main_block_profile_info input:nth-child(3n){
	margin-right: 0px;
}
.main_block_profile_info input::placeholder{
	font-family: 'Muli-Regular_E';
	font-size: 18px;
	color: #9f6628;
}
.content-check {
    position: relative;
    margin-bottom: 40px;
    margin-top: 15px;
}
.content-check input[type='radio'] {
    display: none;
}
.content-check input[type='radio'] + label:before {
    content: '';
    width: 40px;
    height: 40px;
    border: 1px solid #9f6628;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
}
.content-check label{
	margin-left: 75px;
	font-family: 'Muli-Regular_E';
	font-size: 18px;
	color: #9f6628;
	display: inline-block;
}
.content-check input[type='radio']:checked + label:before {
    content: '';
    display: inline-block;
    background   : url('../images/check.png') no-repeat 0 0;
    position: absolute;
    left: 0;
    border: none;
}
.message{
	width: calc(100% - 40px);
	height: 150px;
	border-color: #9f6628;
	font-family: 'Muli-Regular_E';
	font-size: 18px;
	color: #9f6628;
	padding: 20px;
	margin-top: 15px;
}
.main_block_profile_bnt{
	text-align: center;
	margin-top: 75px;
	margin-bottom: 15px;
}
.main_block_profile_bnt button{
	padding: 15px 40px;
	border: none;
	background-color:#9f6628;
	color: #fff;
	font-family: 'Muli-Bold_E';
	font-size: 18px;
	cursor: pointer; 
	text-align: center;
}
.main_block_smile_address span{
	font-family: 'Muli-SemiBold_E';
	font-size: 30px;
}
/* end css smile and more */
/* how it work */
.block_getEvaluated h3{
	font-family: "Muli-Black_E";
	font-size: 40px;
	color: #9f6628;
	text-align: center;
}
.page_howitwork_thumbnail{
	width: 40%;
	text-align: center;
}
.page_howitwork_text{
	width: calc(60% - 74px);
	padding: 0 35px;
}
.pink{
	background: #fffaf5;
}
.backgr1{
	background: url(../images/1.png) no-repeat;
}
.backgr2{
	background: url(../images/2.png) no-repeat;
}
.backgr3{
	background: url(../images/3.png) no-repeat;
}
.page_howitwork_text_title h5{
	font-size: 30px;
	font-family: "Muli-Black_E";
	color: #9f6628;
	max-width: 270px;
}
.page_howitwork_text_nav span{
	font-size: 20px;
	font-family: "Muli-SemiBold_E";
	color: #9f6628;
	display: block;
}
.page_howitwork_text_nav ul{
    padding: 0;
    list-style-position: inside;
}
.page_howitwork_text_nav li{
    color: #9f6628;
}
.page_howitwork_text_nav li span{
    display: inline;
    padding-left: 15px;
}
.page_howitwork_text_button{
	margin-top: 40px;
}
.page_howitwork_text_button button {
    padding: 20px 40px;
    font-size: 18px;
    border: none;
    background: #9f6628;
    color: #fff;
    font-family: "Muli-Bold_E";
}
.page_howitwork_text_button button a{
	text-decoration: none;
	color: #fff;
}
.wrap-block_letstart{
    background: url(../images/how_backgr2.png) center no-repeat;
    background-size: cover;
    padding: 123px 0;
}
.block_letstart h3{
    font-size: 40px;
    color: #9f6628;
    font-family: "Muli-Black_E";
    margin: 30px 0;
}
.block_letstart p{
    font-size: 18px;
    color: #9f6628;
    font-family: "Muli-Regular_E";
    margin-bottom: 55px;
    max-width: 465px;
}
.block_letstart button{
    padding: 20px 40px;
    font-family: "Muli-Bold_E";
    font-size: 18px;
    border: 1px solid #9f6628;
    background: rgba(255, 255, 255, 0);
    color: #9f6628;
    cursor: pointer;
}
.block_letstart button a{
	text-decoration: none;
	color: #9f6628;

}
/* how it work */
/* member */
.main_block{
	padding: 75px 0;
}
.block_member_icon{
	width: calc(20% - 87px);
}
.block_member_text{
	width: calc(80%);
	padding: 0 20px;
}
.block_member_text h2 {
    font-size: 40px;
    color: #9d6626;
    margin: 0;
    font-family: "Muli-ExtraBold_E";
    margin-bottom: 45px;
}
.block_member_text p {
    width: 57%;
    line-height: 23px;
    color: #9d6626;
    font-size: 17px;
    font-family: 'Muli-SemiBold_E';
}
.mainblock_yourstaty{
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
}
.mainblock_yourstaty h3 {
    font-size: 30px;
    color: #9d6626;
    margin-bottom: 125px;
    margin-top: 0;
    font-family: 'Muli-ExtraBold_E';
}
.main_block_content_title h4{
	margin-top: 0;
}
.main_block_thumbnail_title h4{
	margin-top: 0;
}
span.round{
	display: inline-block;
	width: 37px;
	height: 37px;
	border-radius: 50%;
	background: #e1e1e1;
	position: relative;
	margin-right: 480px;
}
span.round:after{
	content: "";
	display: block;
	width: 522px;
	height: 10px;
	background: #e1e1e1;
	position: absolute;
    top: calc(50% - 5px);
    right: 0;
}
span.round:before{
	content: "";
	display: block;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	border: 1px solid #e1e1e1;
	position: absolute;
	top: -10px;
    left: -10px;
}
span.round:first-child:after{
	content: none;
}
span.round:last-child{
	margin-right: 0;
}

.mainblock_yourstaty small{
	position: absolute;
	width: 150px;
	bottom: 60px;
	left: -55px;
	color: #9d6626;
	font-size: 15px;
	font-family: "Muli-Bold_E";
}
.main_block_content_title h4{
	color: #9d6626;
	font-size: 30px;
	font-family: "Muli-ExtraBold_E";
}
.main_block_thumbnail_title h4{
	color: #9d6626;
	font-size: 30px;
	font-family: "Muli-ExtraBold_E";
}
.main_block_content{
	display: inline-block;
	margin-right: 30px;
	width: calc(68% - 34px);
	vertical-align: top;
}
.main_block_thumbnail{
	display: inline-block;
	width: 32%;
}
.main_block_content_comment{
	background: #f6f6f6;
}
.main_block_content_comment_element_icon{
	width: calc(20% - 25px);
}
.main_block_content_comment_element_text{
	width: 82%;
}
.main_block_content_comment_element_icon span {
    font-size: 20px;
    color: #9d6626;
    background: #fff;
    padding: 20px 17px;
    margin-left: 30px;
    border-radius: 50%;
}
.main_block_content_comment_element_text p {
    font-size: 15px;
    line-height: 20px;
    color: #9d6626;
    font-family: 'Muli-SemiBold_E';
}
.main_block_content_comment_element_icon img{
	width: 31%;
	vertical-align: middle;
}
.wrap-comment_element{
	padding-right: 50px;
	overflow-x: hidden;
	height: 500px;
	padding-bottom: 256px;
}
.main_block_content_comment_element{
	padding: 50px 0;
	border-bottom: 1px solid #e1e1e1;
}
.block_pink{
	padding-left: 50px;
	background: #ede7e1;
}
.block_pink p{
	padding-left: 10px;
}
.main_block_content_comment{
	position: relative;
}
.main_block_content_comment_form{
	padding: 30px 10px 50px 25px;
	position: absolute;
    width: 90%;
    background: #f6f6f6;
    bottom: 0;
    left: 0; 
}
textarea.form_message {
    width: 97%;
    height: 75px;
    border: none;
    padding: 10px 0 0 20px;
    font-size: 15px;
    outline: 0;
    font-family: 'Muli-Regular_E';
    color: #9d6626;
}
textarea.form_message::placeholder{
	font-family: 'Muli-Regular_E';
	color: #9d6626;
}
.main_block_content_comment_form_button{
	text-align: right;
}
.main_block_content_comment_form_button ul li{
	display: inline-block;
}
.main_block_content_comment_form_button ul li:last-child a{
	border: none;
	margin-right: 0;
	padding: 0;
}
.main_block_content_comment_form_button ul li a{
	padding: 17px 22px;
	margin-right: 10px;
	border: 1px solid #9f6628;
}
.main_block_content_comment_form_button img{
	vertical-align: middle;
}
.main_block_content_comment_form_button button {
    padding: 15px 29px;
    border: none;
    background: #9f6628;
    color: #fff;
    font-size: 18px;
}
.main_block_content_comment_form_button{
	margin: 35px 0 0 0;
}
.wrap-comment_element.scrollable .scroll-bar.vertical {
    position: absolute;
    right: 30px;
    top: 10px;
    height: 680px !important;
    width: 10px;
    background: #fff;
    border-radius: 10px;
}
.wrap-comment_element .scroll-bar .thumb {
    background: #9f6628;
    border-radius: 10px;
}
.wrap-thumbnail{
	background: #f6f6f6;
	padding: 40px 30px 52px 30px;
}
.wrap-thumbnail h5{
	font-size: 18px;
	font-family: "Muli-Bold_E";
	color: #9f6628;
	text-decoration: underline;
	margin: 0;
	margin-bottom: 30px;
}
.main_block_thumbnail_img_icon_element{
	display: inline-block;
	width: calc(100%/2 - 32px);
	margin: 0 15px 30px 15px;
}
.main_block_thumbnail_img_icon {
    margin: 0 -15px;
}
.main_block_thumbnail_text {
    margin-top: 40px;
}
.main_block_thumbnail_img_icon_element{
    position: relative;
}
.main_block_thumbnail_img_icon_element_pss{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(130, 82, 33, 0.48);
    text-align: center;
}
.main_block_thumbnail_img_icon_element img{
    vertical-align: middle;
}
.main_block_thumbnail_img_icon_element i.fa.fa-search {
    font-size: 25px;
    color: #fff;
}
.main_block_thumbnail_img_icon_element:hover .main_block_thumbnail_img_icon_element_pss{
    display: block;
}
.main_block_thumbnail_text_doc p{
	font-size: 18px;
	color: #9f6628;
	font-family: "Muli-ExtraBold_E";
}
span.round.active:before{
    border-color: #9d6626;
}
span.round.active,span.round.active:after {
	background: #9d6626;	
}
span.select-button {
    border: 1px solid #9f6628;
    color: #9f6628;
    display: inline-block;
    font-size: 20px;
    padding: 17px 25px;
    position: relative;
    width: 220px;
    font-family: "Muli-Regular_E";
}
span.select-button:after {
    content: "";
    background: url(../images/arrow-select.png) center no-repeat;
    height: 10px;
    width: 15px;
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 20px;
}
.block_chooseMember_content_text {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}
.select_member{
    margin: 0;
    padding: 0;
    list-style: none;
}
.select_member li{
    font-size: 20px;
    padding: 17px 25px;
    color: #9f6628;
    width: 220px;
    font-family: "Muli-Regular_E";
}
.block_chooseMember_content_form{
  position: relative;
}
.dropdown-select{
    -webkit-box-shadow: -1px 5px 15px 4px #f0f0f0;
    -moz-box-shadow: -1px 5px 15px 4px #f0f0f0;
    box-shadow: -1px 5px 15px 4px #f0f0f0;
    visibility: hidden;
    position: absolute;
}
ul.select_member .notify {
    color: #ffb800;
    background: #f5efe9;
    position: relative;
}
ul.select_member li{
    cursor: pointer;
    width: 180px;
}
ul.select_member .notify:after{
  content: "";
  position: absolute;
  top:50%;
  right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: -7px;
  background: #ffb800;
}
.dropdown-select .viewport{
    height: 237px;
}
.dropdown-select .scroll-bar {
    width: 7px;
    background: #ebebeb;
    height: calc(100% - 20px)!important;
    top: 10px;
    border-radius: 5px;
    right: 15px!important;
}
.dropdown-select .thumb {
    background: #9f6628;
    border-radius: 5px;
}
.block_chooseMember_content_form.vcenter.open span.select-button:after{
    transform: initial;
}
.block_chooseMember_content_form.vcenter.open .dropdown-select{
    visibility: visible;
    width: 270px;
    background: #fff;
}

/* member */

/* Admin Area */
.block_chooseMember_title h5{
	font-size: 20px;
	font-family: "Muli-Regular_E";
	color: #9d6626;
	margin: 0;
	margin-bottom: 20px;
}
.block_chooseMember_content_form select {
    padding: 13px 130px 13px 15px;
    border: 1px solid #9d6626;
    font-size: 20px;
    font-family: "Muli-Regular_E";;
    color: #9d6626;
    outline: 0;
    background: #fff;
}
.block_chooseMember_content_form p{
	padding: 13px 130px 13px 15px;
	font-size: 20px;
    font-family: "Muli-Regular_E";
    color: #9d6626;
    outline: 0;
}
.block_chooseMember_content_form{
	margin-right: 30px;
}
.block_chooseMember_content_text span{
	font-size: 15px;
	color: #ffb800;
	font-family: "Muli-Regular_E";
	padding: 0 25px;
	position: relative;
}
.block_chooseMember_content_text span:before{
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #ffb800;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 0;
}
/* Admin Area */

/* footer */
.footer_top{
	color: #fff;
	background: #2e1d0a;
	padding: 95px 0;
}
.footer_top_block{
	width: calc(100%/4 - 3px);
	display: inline-block;
	vertical-align: top;
}
.footer_top_block_logo img{
	width: 55%;
}
.footer_bottom{
	color: #fff;
	background: #180f05;
}
.footer_top_block_text p{
    width: 80%;
    font-family: "Muli-Regular_E";
    font-size: 17px;
}
.footer_top_block_nav ul{
	padding: 0;
}
.footer_top_block_nav ul li{
	list-style: none;
	margin: 10px 0;
}
.footer_top_block_nav ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	font-family: "Muli-Regular_E";
}
.footer_top_block_title{
	margin-bottom: 44px;
}
.footer_top_block_title h4{
	text-decoration: underline;
	font-size: 22px;
	font-family: "Muli-SemiBold_E";
	margin: 0;
}
.footer_top_block_logo{
	margin-bottom: 44px;
}
.footer_bottom_left,.footer_bottom_right{
	width: calc(50% - 2px);
	display: inline-block;
}
.footer_bottom_right{
	text-align: right;
}
.footer_bottom_right ul li{
	display: inline-block;
	list-style: none;
}
.footer_bottom_right ul{
	padding: 0;
	margin:0;
}
.footer_bottom_right ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	font-family: "Muli-Regular_E";
	padding: 17px;
}
.footer_bottom_left p{
	font-size: 17px;
	font-family: "Muli-Regular_E";
}
button.slick-prev.slick-arrow,
button.slick-next.slick-arrow{
    display: none !important;
}
/* footer */
.wrapper{
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: right;
    display: none;
}
.navbar-header {
    font-size: 30px;
    padding-top: 15px;
    cursor: pointer;
    padding-left: 40px;
    text-align: right;
}
.icon-close:hover .fa,
.navbar-header:hover .fa{
	color: #ccc;
}
.navbar-collapse {
  position:fixed;
  right: -285px;
  top: 0;
  width:200px;
  border:1px solid grey;
  height:100%;
  padding:10px;
  margin:0;
  background:#fff;
  z-index: 99;
}
.icon-close{
  font-size:30px;
  margin-left:10px;
  margin-bottom:20px;
  cursor:pointer;
  padding:0;
  width:25px;